<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b1b720a2-c464-4081-b19b-228f4ae58ea5/resourcegroups/cpsc23000-week8/providers/Microsoft.Web/sites/PurchasesWebApp20230701100307-cpsc23000-week8</ResourceId>
    <ResourceGroup>cpsc23000-week8</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://purchaseswebapp20230701100307-cpsc23000-week8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>76705a8a-d965-4812-bbd8-0022f380b477</ProjectGuid>
    <MSDeployServiceURL>purchaseswebapp20230701100307-cpsc23000-week8.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PurchasesWebApp20230701100307-cpsc23000-week8</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PurchasesWebApp20230701100307-cpsc23000-week8</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>