@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center html-white body-white">
    <h1 class="display-4">Welcome!</h1>
    <p>This is a handy web app to help you track your purchases throughout the year. <br> 
        Click on the Add Expense tab to get started!</p>

    <br />
    <img src="~/Images/money.gif" alt="money gif" style="width:300px;height:200px;">

</div>

