@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hey, don't worry!<br>
    We won't snoop on any of your impulsive purchases and share them with third parties or your family.<br>
    What happens in this web app stays in this web app. *wink wink* </p>
